<div class="chatbutton">
  <div class="email">
    <div>
      <span class="rank"><%= user.role %></span> - <%= user.email %>
    </div>
  </div>
  <div class="options">
    <a href="/chat/<%= user._id %>" class="option view-chat">
      <i class="fas fa-comment"></i>
      <span>Ver Chat</span>
    </a>
    <button 
      class="option delete" 
      onclick="handleDeleteUser('<%= user.email %>')"
    >
      <i class="fas fa-trash"></i>
      <div class="clickable delete-button">
        <span>Deletar</span>
      </div>
    </button>
    <button 
      class="option make-admin" 
      onclick="handleMakeAdmin('<%= user.email %>')"
    >
      <i class="fas fa-user-shield"></i>
      <div class="clickable turn-admin-button">
        <span>Tornar Admin</span>
      </div>
    </button>
  </div>
</div>
